@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root, :root[data-theme='light'] {
    --color-primary: #313b44;
    --color-secondary: #2962ff;
    --color-surface: #d3dadf;
    --color-error: #b91c1c;
    
    /*--color-success: 0 200 81;
    --color-info: 51 181 229;
    --color-warn: 255 187 51;*/
  }

  :root[data-theme="dark"] {
    --color-primary: #90a4ae;
    --color-secondary: #6fffe9;
    --color-surface: #0f172a;
    --color-error: #ef4444;
  }
}